.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .nav__links{
        display: flex;
    }
    .nav__left{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
    }
    .nav__section{
        grid-template-columns: 70% 30%
    }

}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .nav__logo{
        width: 10rem;
    }
    .nav__link{
        font-size: 1.1rem;
    }
    .nav__country{
        font-size: 1.3rem;
    }
    .nav__profile{
        width: 3rem;
        height: 3rem;
    }
    .nav__section{
        grid-template-columns: repeat(2 , 50%);
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 90%;
    }
}
