body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("../img/back.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*
====================
    Header and Nav
====================
*/

.nav__section{
    display: grid;
    grid-template-columns: 45% 50%;
}
.nav__left{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 5rem;
}
.nav__logo{
    width: 8rem;
}
.nav__links{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}
.nav__link{
    color: #fff;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0,0.7);
    font-size: 1rem;
}
.nav__link:hover{
    color: #225a7a;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

.nav__right{
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.nav__country{
    font-size: 1.3rem;
    color: #fff;
    text-shadow: 1px 1px 0.6rem rgba(0, 0, 0,0.9);
}
.nav__profile{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 0.6rem;
    color: #fff;
}

.mobile__nav{
    width: 2rem;
    height: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile__nav__line , .mobile__nav::before , .mobile__nav::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    display: inline-block;
    border-radius: 1rem;
    transition: 200ms;
}
.mobile__nav-active::before{
    transform: rotate(45deg)translateY(15px);
}
.mobile__nav-active::after{
    transform: rotate(-45deg)translateY(-15px);
}


/*
====================
    MAIN SECTION SEARCH ENGINE
====================
*/

.inputContainer{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.textBox{
    width: 60rem;
    height: 2rem;
    border-radius: 5rem;
    padding: 1rem 2rem;
    box-shadow: 2px 1px 1rem rgba(0, 0, 0, 0.5);
    background-color: #3f3f3f;
    font-size: 1.3rem;
    outline: none;
    border: none;
    color: white;
}

.submitBtn{
    padding: 0.8rem;
    background-color: #3f3f3f;
    border: none;
    outline: none;
    border-radius: 5rem;
    box-shadow: 2px 1px 1rem rgba(0, 0, 0, 0.5);
}

.submitBtn:hover{
    transform: scale(1.05);
}
